/* POST CARD */
.post-card div {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    outline: 1px solid var(--brand-color);
    border-radius: 2px;
}

#post-card-selection {
    height: 100%;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    padding: 8px;
}

#post-card-selection:hover {
    background-color: #f7e5e5;
    text-decoration: none;
}

#view-text:hover {
    text-decoration: underline;
}

.post-card h3 {
    margin: 0;
}

.post-card a {
    display: inline;
}

.post-card p {
    margin: 0;
    padding-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.post-card hr{
    margin: 0;
    color: var(--brand-color);
    border-top: 0;
    border-left: 0;
}

.post-card-tags {
    margin: 0 !important;
    outline: 0;
    text-align: right;
}

.post-card-tags a {
    margin-left: 0.4em;
}

.tag-color-box {
    margin: 0 !important;
    padding: 0;
    height: 0.5em;
    width: 0.5em;
    outline: 1px solid black;
    border-radius: 2px;
    display: inline-block;
}

.post-title h1 {
    margin-bottom: 10px; 
    margin-top: 0.8em;
    padding-bottom: 10px;
    font-size: 40px;
}

/* SEARCH BAR */ 
#lunrSearchForm input {
    position: static;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    border-style: solid;
    outline: 0;
    border-radius: 290486px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 8px;
}

/* OTHER */
nav li a {
    transition: none;
    border-bottom: 2px solid #FFFFFF;
}

.summary-container {
    margin-bottom: 40px;
    outline: 1px solid rgb(0, 0, 0);
    padding-top: 8px;
    padding-right: 20px;
    border-radius: 10px;
}

.summary-column h2 {
    margin-top: 10px;
}

.summary-frame {
    height: 100%;
    line-height: 100%;
    flex: 50%;
    position: relative;
}

.summary-image {
    border-radius: 10px;
    padding-left: 0px !important;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.summary-column {
    flex: 50%;
}

.summary-row {
    display: flex;
    align-items:flex-start;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.summary-row:after {
    content: "";
    display: table;
    clear: both;
}