
nav li a {
    transition: none;
    border-bottom: 2px solid #FFFFFF;
}

.summary-image {
    max-height: 300px;
    float: left;
}

/* SEARCH BAR */ 
#lunrSearchForm input {
    position: static;
    background: transparent;
    cursor: pointer;
    border-style: solid;
    outline: 0;
    border-radius: 290486px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}