
nav li a {
    transition: none;
    border-bottom: 2px solid #FFFFFF;
}

.theorem {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: 1px solid rgb(30, 103, 151);
}

.todo {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    outline: 2px solid rgb(216, 0, 0);
    background-color: rgb(255, 221, 221);
}


.theorem p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.summary-container {
    margin-bottom: 40px;
}

.summary-column h2 {
    margin-top: 10px;
}

.summary-image {
    border-radius: 10px;
    padding-left: 0px !important;
    height: 100%;
}

.summary-column {
    flex: 50%;
}

.summary-row {
    display: flex;
    align-items:flex-start;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.summary-row:after {
    content: "";
    display: table;
    clear: both;
}

/* SEARCH BAR */ 
#lunrSearchForm input {
    position: static;
    background: transparent;
    cursor: pointer;
    border-style: solid;
    outline: 0;
    border-radius: 290486px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}